{% extends 'reservation_app/base.html' %}
{% block content %}


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Pojemność</th>
            <th>Dostępność rzutnika</th>
            <th>Dostępność sali</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rooms %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td><a href="/room/{{ r.pk }}/">{{ r.name }}</a></td>
                <td>{{ r.capacity }}</td>
                <td>
                    {% if r.projector_availability %}
                        &#9745;
                    {% else %}
                        &#9746;
                    {% endif %}
                </td>
                <td>
                    {% if r.reserved %} Zarezerwowana
                    {% else %} Dostępna
                    {% endif %}
                </td>
                <td><a href="/room/modify/{{ r.pk }}/">edytuj</a></td>
                <td><a href="/room/delete/{{ r.pk }}/">usuń</a></td>
                <td><a href="/room/reserve/{{ r.pk }}">rezerwuj</a></td>
            </tr>
        {% empty %}
            <td>Brak dostępnych sal</td>
        {% endfor %}
    </tbody>
</table>



<!-- Search -->
<br><br>
<h3>Wyszukaj</h3>
<form action="/search/" method="get">
    {% csrf_token %}
    <label for="room-name">Nazwa sali</label>
    <input type="text" name="room-name" id="room-name" placeholder="Nazwa sali">
    <br>
    <label for="capacity">Minimalna pojemność sali</label>
    <input type="number" step="1" name="capacity" id="capacity" placeholder="5">
    <br>
    <label for="projector">Dostępność rzutnika</label>
    <input type="checkbox" name="projector" id="projector">
    <br>
    <button type="submit">Szukaj</button>
</form>

<!-- Search -->


{% endblock %}
